body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: hsl(225, 20%, 60%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

img {
  height: auto;
}

/* CONTAINER */
body #container #header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  background: hsl(224, 65%, 95%);
  padding: 3rem;
  border-radius: 0 0 0 100px;
}
body #container #header svg {
  z-index: 1;
}
body #container #header h2 {
  z-index: 2;
  transform: translateY(-5rem);
  color: black;
}
body #container #header h3 {
  z-index: 2;
  transform: translateY(-5rem);
}
body #container .main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 30rem;
  height: 25rem;
  transform: translateY(-6rem);
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px hsl(224, 65%, 95%);
  position: relative;
}
body #container .main > div:not(#slider, #billing) {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  max-width: 100%;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
body #container .main #first {
  display: flex;
  justify-content: space-evenly;
}
body #container .main #first #pageviews {
  text-transform: uppercase;
  font-size: 12px;
}
body #container .main #first #count-year {
  display: flex;
  align-items: center;
  gap: 2rem;
}
body #container .main #first #count-year #count {
  font-size: 2.25rem;
  font-weight: 800;
}
body #container .main #first #count-year #count #month-year {
  font-size: 12px;
}
body #container .main #slider {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
body #container .main #slider #sliderBar {
  margin: 0 auto;
  width: 90%;
}
body #container .main #slider svg {
  position: absolute;
  left: 40%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  padding: 0.2rem;
}
body #container .main #billing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transform: translateX(2rem);
  gap: 1rem;
  max-width: 80%;
  width: 100%;
  font-size: 12px;
}
body #container .main #billing #toggle-button {
  cursor: pointer;
  background: hsl(223, 50%, 87%);
  width: 2.5rem;
  border-radius: 20px;
  padding: 0.15rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
body #container .main #billing #toggle-button #ball {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
}
body #container .main #billing #toggle-button #toggle-check {
  display: none;
}
body #container .main #billing p:last-child span {
  background: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  font-size: 10px;
}
body #container .main #line {
  width: 100%;
  background: hsl(224, 65%, 95%);
  height: 2px;
  padding: 0;
}
body #container .main #last-section {
  justify-content: space-evenly;
}
body #container .main #last-section #text > p svg {
  margin-right: 0.5rem;
}
body #container .main #last-section #trial button {
  cursor: pointer;
  background: hsl(227, 35%, 25%);
  color: white;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
}

/* MEDIA QUERY */
@media (max-width: 376px) {
  body #container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
  body h2 {
    font-size: 1rem;
    text-align: center;
  }
  body h3 {
    font-size: 0.75rem;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */